<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to MyApp!</h1>
        <p class="lead">This is a simple web application where you can manage users and messages.</p>
        <hr class="my-4">
        <p>To get started, please login or register if you don't have an account.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
    </div>
{% endblock %}