<!-- templates/profile.html -->
{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='profile_pictures/' ~ (user_profile[3] if user_profile[3] else 'default.png')) }}" class="rounded-circle img-fluid" alt="Profile Picture">
            </div>
            <div class="col-md-8">
                <h1>{{ user_profile[1] }}</h1>
                <p>Email: {{ user_profile[2] }}</p>
                <p>Role: {{ user_profile[4] }}</p>
                <p>Description: {{ user_profile[5] }}</p>
                <p>Followers: {{ followers_count }}</p>
                {% if is_blocking %}
                    <form method="post" action="{{ url_for('unblock', user_id=user_profile[0]) }}">
                        <input type="hidden" name="username" value="{{ user_profile[1] }}">
                        <button type="submit" class="btn btn-warning">Unblock</button>
                    </form>
                {% elif not is_blocked %}
                    <form method="post" action="{{ url_for('follow', user_id=user_profile[0]) }}">
                        <input type="hidden" name="username" value="{{ user_profile[1] }}">
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                    <form method="post" action="{{ url_for('unfollow', user_id=user_profile[0]) }}">
                        <input type="hidden" name="username" value="{{ user_profile[1] }}">
                        <button type="submit" class="btn btn-secondary">Unfollow</button>
                    </form>
                    <a href="{{ url_for('direct_messages_with_user', receiver_id=user_profile[0]) }}" class="btn btn-primary">Mesaj At</a>
                    <form method="post" action="{{ url_for('block', user_id=user_profile[0]) }}">
                        <input type="hidden" name="username" value="{{ user_profile[1] }}">
                        <button type="submit" class="btn btn-danger">Block</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}